h1 {
    text-align: center;
    color: cornflowerblue;
}

figure {
    text-align: center;
}

figcaption {
    color: cadetblue;
    font-style: italic;
}

p {
    font-size: 16px;
}

h2 {
    text-align: center;
    color: darkcyan;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

tr,
td {
    size: 16px;
    text-align: left;
    width: auto;
    padding: 10px 15px;
    border: 1px solid gray;
}

footer {
    background-color: darkcyan;
    height: 30px;
    text-align: center;
}