body {

    font-family: serif;
    
    }
    body {

        font-family: sans-serif;
        
        }
        body {

            font-family: monospace;
            
            }
            body {

                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                
                }