<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul class="d-lg-none nav navbar-nav">
          <li>
            <a href="/">Головна</a>
          </li>
          <li>
            <a href="/countries">Країни</a>
          </li>
          <li>
            <a href="/contacts">Контакти</a>
          </li>
          <li>
            <a href="/request">Заявки</a>
          </li>
        </ul>
      </div>
  </div>
  </nav>


  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="javascripts/bootstrap.js"></script>
</body>

</html>