<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Богдан Перевозник">
    


    <title>Econom tour 2021</title>

</head>

<body>
    


    <div class="jumbotron">



        <div id="carusel-demo" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carusel-demo" data-slide-to="0" class=""></li>
                <li data-target="#carusel-demo" data-slide-to="1" class=""></li>
                <li data-target="#carusel-demo" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="http://placeimg.com/1000/800/any" alt="First slide">

                </div>
                <div class="item">
                    <img src="http://placeimg.com/1000/800/any" alt="Second slide">

                </div>
                <div class="item active">
                    <img src="http://placeimg.com/1000/800/any" alt="Third slide">

                </div>
            </div>
            <a class="left carousel-control" href="#carusel-demo" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carusel-demo" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

    </div>
    <div class="offset-xs-4 offset-md-4">
    </div>
    <div class="col-xs-8 col-md-8">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. </div>
    </div>

    <div class="col-xs-4 col-md-4">
        <div id="_MI_8e5e2dee7e55c74211fe9ab7b6fe85b1"><a href="https://ua.meteocast.net/">Прогноз погоди</a></div>
        <script
            type='text/javascript'>(function (d, w, t, k) { function l() { if (typeof (w._MIOB_) == 'undefined') { w._MIOB_ = {}; } var m = w._MIOB_[t] = k; var s = d.createElement('script'); m.p = ('https:' == d.location.protocol ? 'https:' : 'http:'); s.type = 'text/javascript'; s.async = true; s.src = m.p + '//info.meteocast.net/mt/' + m.t + '.js'; d.body.appendChild(s); } if (d.readyState == 'complete') l(); else { if (w.attachEvent) w.attachEvent('onload', l); else w.addEventListener('load', l, false); } })(document, window, '8e5e2dee7e55c74211fe9ab7b6fe85b1', { t: 'current', sw: { "iorder": "3", "tblank": 1 }, css: ['{p}//info.meteocast.net/mt/{t}.css', '{p}//info.meteocast.net/cs/9dbf72ab31e4d7fb805c94c5a3ee26d916df280b.css'] });</script>
    </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form action="/request" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <legend>Форма для заявки на тур</legend>
                </div>

                <div class="form-group">
                    <label for="usr">Ваше ім'я:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="username" name="username" class="form-control" id="usr">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Ваш Email:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-send"></span>
                        </div>

                        <input type="email" name="email" class="form-control" id="pwd">
                    </div>
                </div>

                <div class="form-group">
                    <label for="usr">Номер телефону:</label>
                    <div class="input-group">
                        <div class="input-group-addon">

                            <span class="glyphicon glyphicon-phone"></span>
                        </div>
                        <input type="phone" name="phone" class="form-control" id="usr">


                    </div>
                </div>
                <div class="form-group">
                    <label for="sel1">Країна:</label>
                    <div class="input-group">
                        <div class="input-group-addon">

                            <span class="glyphicon glyphicon-globe"></span>
                        </div>
                        <select class="form-control" id="sel1">

                            <option>Аргентина</option>
                            <option>Англія</option>
                            <option>Болгарія</option>
                            <option>Данія</option>
                            <option>Канада</option>
                            <option>Єгипет</option>
                            <option>Франція</option>
                            <option>Німечина</option>
                            <option>Греція</option>
                            <option>Італія</option>
                            <option>Японія</option>
                            <option>Норвегія</option>
                        </select>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-10">
                        <button type="submit" class="btn btn-primary">Відправити</button>
                    </div>
                </div>

        </div>
        </form>



       
        
</body>

</html>